#$Id$
#{{ ansible_managed }}

driftfile /var/lib/ntp/ntp.drift

# Enable this if you want statistics to be logged.
#statsdir /var/log/ntpstats/

statistics loopstats peerstats clockstats
filegen loopstats file loopstats type day enable
filegen peerstats file peerstats type day enable
filegen clockstats file clockstats type day enable

# Use servers from the NTP Pool Project.
{% for server in v_ntp_servers %}
server {{ server }}
{% endfor %}

# By default, exchange time with everybody, but don't allow configuration.
restrict -4 default kod notrap nomodify nopeer noquery
restrict -6 default kod notrap nomodify nopeer noquery

# By default, ignore everybody
restrict default ignore
restrict -6 default ignore

# Local users may interrogate the ntp server more closely.
restrict 127.0.0.1
restrict -6 ::1

# Allow these hosts but don't allow configuration
{% for client in v_ntp_clients %}
#restrict {{ client }} nomodify notrap nopeer noquery
{% endfor %}
