#{{ ansible_managed }}

[Unit]
Description=docker-znc service
After=docker.service
Requires=docker.service

[Service]
ExecStartPre=/usr/bin/docker build -t znc /home/deploy/docker/docker-znc/
ExecStartPre=if [[ $(/usr/bin/docker inspect -f {{.State.Running}} znc) > 0 ]] ; then /usr/bin/docker rm -f znc ;
ExecStart=/usr/bin/docker run -v /var/lib/znc/.znc:/var/lib/znc/.znc -p 127.0.0.1:6697:6697 --name znc znc
ExecStop=/usr/bin/docker stop -t 2 znc
ExecStopPost=if [[ $(/usr/bin/docker inspect -f {{.State.Running}} znc) > 0 ]] ; then /usr/bin/docker rm -f znc ;
ExecReload=if [[ $(/usr/bin/docker inspect -f {{.State.Running}} znc) > 0 ]] ; then /usr/bin/docker rm -f znc ; /usr/bin/docker run -v /var/lib/znc/.znc:/var/lib/znc/.znc -p 127.0.0.1:6697:6697 --name znc znc

[Install]
WantedBy=multi-user.target
