## Default options
Defaults    editor=/usr/bin/nano:/bin/nano:/usr/bin/vi:/bin/vi
Defaults    timestamp_timeout=10

## Aliases
Cmnd_Alias      YUM             =   /usr/bin/yum
Cmnd_Alias      YUM_PARTIAL     =   /usr/bin/yum search [A-Za-z0-9]*, /usr/bin/yum info [A-Za-z0-9]*

# Networking
Cmnd_Alias      NETWORKING      = /sbin/route, /sbin/ifconfig, /bin/ping, /sbin/dhclient, /usr/bin/net, /sbin/iptables, /usr/bin/rfcomm, /usr/bin/wvdial, /sbin/iwconfig, /sbin/mii-tool

# Services
Cmnd_Alias      SERVICES        = /sbin/service, /sbin/chkconfig

# Reading logs
Cmnd_Alias      READ_LOGS       = /usr/bin/less /var/log/*, /usr/bin/grep /var/log/*, /usr/bin/cat /var/log/*, /bin/ls /var/log/*, /bin/ls /var/log

## Allows users in group wheel to run all commands with a password
%wheel          ALL=(ALL)       ALL

## Allows users in group provisioning to run all commands without a password
%provisioning   ALL=(ALL)       NOPASSWD: ALL

## Always allow user vagrant to run all commands without a password
vagrant         ALL=(ALL)       NOPASSWD: ALL

## Allow users in group wheel to run the following aliases without a password
%wheel          ALL=NOPASSWD:   YUM_PARTIAL, READ_LOGS
